<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <p>ジャンル検索</p>
    </div>
    <div class="col-lg-10">
      <h1>ようこそながのCAKEへ！</h1>

      <h3>新着商品</h3>
    </div>
  </div>
</div>