<div class="container">
  <h4>注文履歴詳細</h>
  <table class="table table-bordered">


 <thead>
    <tr>
      <th ="col">商品名</th></th>
      <th ="col">単価（税込）</th>
      <th ="col">数量</th>
      <th ="col">小計</th>
      <th ="col">製作ステータス</th>
    </tr>
  </thead>
</div>
