<h3>ショッピングカート</h3>
<table class="table">
  <thead>
    <tr>
      <th ="col">商品ID</th>
      <th ="col">商品名</th>
      <th ="col">単価(税込)</th>
      <th ="col">数量</th>
      <th ="col">小計</th>
      <th ="col">削除する</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to "買い物を続ける", root_path , class: "btn btn-info" %>


<table class="table">
  <thead>
    <tr>合計金額</tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <td></td>
    </tr>
  </tbody>
</table>

<%= link_to "情報入力に進む", root_path , class: "btn btn-success" %>




