<h3>注文履歴一覧</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th ="col">注文日</th>
      <th ="col">配送先</th>
      <th ="col">注文商品</th>
      <th ="col">ステータス</th>
      <th ="col">注文詳細</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to "表示する", root_path, class: "btn btn-info" %></td>
    </tr>


  </tbody>
</table>
