<h3>注文履歴詳細</h3>
<p>注文履歴詳細</p>
<table class="table table-bordered">
    <tr>
      <th>注文日</th>
      <td></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td></td>
    </tr>
</table>

<p>請求情報</p>
<table class="table table-bordered">
    <tr>
      <th>商品合計</th>
      <td></td>
    </tr>
    <tr>
      <th>配送料</th>
      <td></td>
    </tr>
    <tr>
      <th>ご請求額</th>
      <td></td>
    </tr>
</table>

<p></p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th ="col">商品</th>
      <th ="col">単価(税込)</th>
      <th ="col">個数</th>
      <th ="col">小計s</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


  </tbody>
</table>

