
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h4 class="genres">ジャンル検索</h4>
    </div>
    <div class="col-lg-10">
      <h3>商品一覧</h3>
      <% @items.each do |item| %>
        <p><%= link_to image_tag(item.get_image), show_items_path(item.id) %></p>
        <p><%= item.name %></p>
        <p>￥<%= item.price %>(税込)</p>
      <% end %>
    </div>

  </div>
</div>

